/*  import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}


/* Theme */

:root {
    --LBlue: #7bb4eb;
    --DBlue: #2f387a;
    --Dark: #3a3a3a;
    --White: #fff;
    --Black: #111;
}

p,
h1,
h2,
h3,
h4 {
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--White);
    transition: 0.3s linear;
    --text-color: var(--Black);
    --text-color2: var(--White);
}

body.dark {
    background: var(--Black);
    --text-color: var(--White);
    --text-color2: var(--Black);
}


/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--DBlue);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--LBlue);
}

.dark::-webkit-scrollbar-track {
    background: var(--Black);
}

.dark::-webkit-scrollbar-thumb {
    background: var(--Dark);
}


/* Alert message */

.alert {
    display: block;
    padding: 8px 20px;
    width: 250px;
    background-color: var(--Dark);
    position: absolute;
    margin-top: 40px;
    right: -8px;
    z-index: 120;
    border-radius: 80px;
}

.alert::before {
    content: "\f0d8";
    font-family: fontAwesome;
    font-size: 50px;
    color: var(--Dark);
    position: absolute;
    right: 20px;
    top: -34px;
}

.alert p {
    font-family: 'Raleway';
    color: white;
    font-size: 16px;
    margin-top: 4px;
}

.closebtn {
    margin: 5px;
    right: 8px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


/* Dark Theme */

.dark-mode {
    position: relative;
    top: 20px;
    z-index: 99;
}

#bg-btn {
    position: absolute;
    cursor: pointer;
    right: 1.5%;
}

.checkbox {
    opacity: 0;
    position: absolute;
    left: 0;
}

.label {
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 20px;
    width: 54px;
    transform: scale(1.4);
}

.label .ball {
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -2px;
    height: 25px;
    width: 25px;
    transform: translateX(0px);
    transition: transform 0.3s ease-in-out;
}

.checkbox:checked+.label .ball {
    transform: translateX(32px);
}

.checkbox:checked+.label {
    background-color: #111;
}

.checkbox:checked+.label .ball {
    background-color: #fff;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}


/* all similar content styling codes */

#about,
#services,
#skills,
#work,
#contact {
    padding: 5% 0;
    overflow: hidden;
}

.container {
    max-width: 1300px;
    padding: 50px;
    margin: auto;
}

.about,
.services,
.skills,
.work,
.contact,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.services .serv-content {
    gap: 30px;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 280px;
    height: 3px;
    background: var(--text-color);
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: var(--DBlue);
    padding: 0 5px;
    background: var(--text-color2);
    transition: 0.3s linear;
    transform: translateX(-50%);
}


/* navbar styling */

.nav-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 5px 20px;
    width: 100%;
    z-index: 10;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.nav-bar-container {
    max-width: auto;
    background-color: transparent;
    z-index: 8;
    display: flex;
    text-align: center;
    align-items: center;
}

.nav-bar.sticky {
    background: var(--DBlue);
}

.logo a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    color: var(--White);
    cursor: pointer;
}

.menu li {
    list-style: none;
    display: inline-block;
}

.menu li a {
    display: block;
    color: var(--White);
    font-size: 24px;
    font-weight: 500;
    margin: 0 12px;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: grey;
    transition: all 1s;
}

.nav-bar.sticky .menu li a:hover {
    color: var(--LBlue);
}

.social {
    float: right;
}


/* menu btn styling */

.menu-btn {
    color: var(--White);
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/* home section styling */

section.home {
    background: url(../imgs/banner.jpg) no-repeat center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-height: 500px;
    color: var(--White);
    font-family: 'Ubuntu', sans-serif;
}

.home-layer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
}

.light-bg {
    transition: 0.6s ease-in;
    background-color: rgba(17, 17, 17, 0.25);
}

.dark-bg {
    transition: 0.6s ease-in;
    background-color: rgba(17, 17, 17, 0.6);
}

.home .container {
    margin: auto 0 auto 30px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-1 {
    font-size: 3rem;
}

.text-2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.5rem;
    font-weight: 600;
    margin-left: -3px;
}

.text-3 {
    font-size: 2.5rem;
    margin: 5px 0;
}

.text-3 span {
    color: var(--White)fff;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: none;
    color: var(--White);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid var(--White);
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: #000;
    background: var(--White);
}


/* about section styling */

.about .title::after {
    content: 'What we do?';
}

.about .about-content .col-right {
    width: 40%;
    background-image: url(../imgs/about.jpg);
    background-size: 100%;
    background-position: right;
    height: 540px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* .about .about-content .col-right img {
    height: 480px;
    width: 360px;
    object-fit: cover;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
} */

.about .about-content .col-left {
    width: 50%;
}

.about .text {
    display: flex;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .col-left span:first-child {
    color: var(--text-color);
}

.about .about-content .col-left span:nth-child(2) {
    color: var(--LBlue);
}

.about .about-content .col-left span:last-child {
    color: var(--LBlue);
}

.about .about-content .col-left p {
    text-align: justify;
    color: var(--text-color);
}

.about .about-content .col-left a {
    display: inline-block;
    background: none;
    color: var(--LBlue);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 18px;
    border-radius: 6px;
    border: 2px solid;
    transition: all 0.3s ease;
}

.about .about-content .col-left a:hover {
    border: 2px solid var(--LBlue);
    background: var(--LBlue);
    color: var(--White);
}

#darkimg {
    display: none;
}


/* services section styling */

.services,
.work {
    background: var(--Dark);
}

.services h2,
.work h2 {
    color: var(--White);
}

.services h4,
.services p {
    color: var(--White);
}

.services .title::before,
.work .title::before {
    background: var(--White);
}

.services .title::after,
.work .title::after {
    background: var(--Dark);
    content: "what are we offering?";
}

.services .title::after {
    color: #414fb5;
}

.services .serv-content .card {
    width: calc(33% - 20px);
    background: #111;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.services .serv-content .card:hover {
    background: var(--DBlue);
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card i {
    font-size: 50px;
    color: var(--DBlue);
    transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
    color: var(--White);
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/* skills section styling */

.skills .title::after {
    content: 'Our Founding Members';
}

.skills .skills-content .column {
    width: 45%;
}

.member-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.skills .text {
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: none;
    color: var(--LBlue);
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--LBlue);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.skills .skills-content .left a:hover {
    border: 2px solid;
    color: var(--White);
    background: var(--LBlue);
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
    overflow: hidden;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
    color: var(--text-color);
}

.right {
    overflow: hidden;
}

.skills-content .left img,
.skills-content .right img {
    width: 80%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

/* work section styling */

.work .container {
    padding-top: 25px;
    padding-bottom: 25px;
}

.work .title::after {
    content: "what I've made";
}

.work .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.work a {
    color: var(--White);
}

.work a:visited {
    color: var(--White);
}

.work .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.work .carousel .card:hover .box {
    transform: scale(1.04);
}

.work .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.work .carousel .card img {
    height: 225px;
    width: 115%;
    object-fit: cover;
    border-radius: 22px;
    border: 3px solid var(--DBlue);
    transition: all 0.3s ease;
}

.work .carousel .card:hover img {
    border-color: var(--White);
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid var(--DBlue)!important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: var(--DBlue)!important;
}


/* contact section styling */

.contact .title::after {
    content: "get in touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: var(--DBlue);
}

.contact .head {
    font-weight: 500;
}

.contact .sub-title {
    color: #333;
}

.contact .sub-title a {
    color: var(--text-color);
    text-decoration: underline;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid var(--DBlue);
    background: transparent;
    color: var(--DBlue);
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: var(--White);
    background: var(--DBlue);
}


/* footer section styling */

footer {
    background: var(--Dark);
    padding: 3% 0;
    color: var(--White);
    text-align: center;
}

footer span a {
    color: var(--LBlue);
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}


/* responsive media query start */

@media (max-width: 1300px) {
    .home .container {
        margin-left: 0px;
    }
    footer span {
        font-size: 18px;
    }
}

@media (max-width: 1080px) {
    .logo a {
        font-size: 34px;
    }
    .nav-bar-container {
        position: relative;
        right: 30px;
        margin: 0 10px;
    }
    .menu li a {
        font-size: 30px;
        margin-right: 12px;
        margin-left: 0;
    }
    .dark-mode {
        top: 16px;
    }
    .home {
        background-position-x: 95%;
    }
    .text-2 {
        font-size: 60px;
    }
    #third-box {
        display: inline-block;
    }
    .work .carousel .card img {
        width: 118%;
    }
}

@media (max-width: 770px) {
    .logo a {
        font-size: 44px;
    }
    .dark-mode {
        top: 20px;
    }
    .nav-bar-container {
        z-index: 8;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
    }
    .social {
        display: flex;
        position: relative;
        float: none;
        justify-content: center;
    }
    .social i {
        margin: 0 18px;
    }
    .menu-btn {
        display: block;
        position: absolute;
        width: 50px;
        left: 80%;
        top: 20px;
        z-index: 12;
    }
    .nav-bar {
        position: fixed;
        background: transparent;
    }
    .menu-btn.active {
        display: block;
        background: #ffffff;
        width: 40px;
        height: 25px;
        top: 0px;
        cursor: pointer;
        opacity: 0;
    }
    .menu-btn ul.toggle {
        position: relative;
        top: 5px;
        left: 8px;
        height: 50px;
        cursor: pointer;
    }
    .menu-btn ul.toggle li {
        position: relative;
        left: 5px;
        height: 4px;
        width: 33px;
        border-radius: 3px;
        list-style: none;
        background: #fff;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.5s ease;
        -webkit-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.5s ease;
        -moz-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.5s ease;
        -ms-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.5s ease;
        -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.5s ease;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
}
    .menu-btn ul.toggle.active li:nth-of-type(1) {
        top: 0px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    .menu-btn ul.toggle.active li:nth-of-type(2) {
        top: 5px;
        opacity: 1;
        transform: scale(1);
        transition: transform 0.5s;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        -o-transition: transform 0.5s;
}
    .menu-btn ul.toggle.active li:nth-of-type(3) {
        top: 10px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    .menu-btn ul.toggle li:nth-of-type(1) {
        top: 0px;
        transform-origin: 0%;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
}
    .menu-btn ul.toggle li:nth-of-type(2) {
        top: 5px;
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
        -webkit-transform: rotate(0deg) scale(0.2, 0.2);
        -moz-transform: rotate(0deg) scale(0.2, 0.2);
        -ms-transform: rotate(0deg) scale(0.2, 0.2);
        -o-transform: rotate(0deg) scale(0.2, 0.2);
}
    .menu-btn ul.toggle li:nth-of-type(3) {
        top: 16px;
        transform-origin: 0%;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
}
    .menu.active {
        display: block;
        margin-top: 64px;
        width: 100%;
        max-height: 380px;
        opacity: 1;
        padding: 5px 0;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
}
    .menu.active::-webkit-scrollbar {
        display: none;
    }
    .menu li {
        padding: 5px 0;
    }
    .menu.active ul {
        display: block;
        width: 100%;
    }
    ul.menu {
        z-index: 8;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    .menu {
        background-color: transparent;
        opacity: 0;
        margin-top: -250px;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
}
    .nav-bar.sticky .menu.active {
        background-color: var(--DBlue);
    }
    .menu li {
        display: block;
    }
    .menu li a {
        text-align: center;
        color: #ffffff;
        display: block;
        margin: 5px 0;
        font-size: 28px;
    }
    .text-2 {
        font-size: 65px;
    }
    .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    section.home {
        justify-content: center;
    }
    /* .home-content {
        position: absolute;
        top: 60%;
    } */
    .container {
        max-width: 930px;
    }
    .about .about-content .col-right .col-left {
        width: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        /* margin-bottom: 20px; */
    }
    #third-box {
        display: block;
        position: relative;
        left: 25%;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .container {
        padding: 25px 23px;
    }
    .text-2 {
        font-size: 60px;
    }
    .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .services .serv-content .card {
        width: 100%;
    }
    #third-box {
        left: 0;
    }
}

@media screen and (max-width:600px) {
    .about .about-content .col-left {
        flex: 100%;
    }
    .about .about-content .col-right {
        display: none;
    }
    section .title::after {
        font-size: 18px;
        width: 65%;
    }
}

@media (max-width: 540px) {
    .logo a {
        font-size: 36px;
    }
    .menu-btn {
        top: 15px;
        left: 60%;
    }
    .menu.active {
        margin-top: 56px;
    }
    .dark-mode {
        top: 15px;
    }
    .home {
        background-position-x: 93%;
    }
    .text-2 {
        font-size: 34px;
    }
    .text-3 {
        font-size: 18px;
    }
    .about .text {
        font-size: 28px;
    }
    .skills .text {
        font-size: 19px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
    footer span {
        font-size: 12px;
    }
}